@page
@model _6_CustomAuthenticationAndAuthorization.Pages.Accounts.LoginModel
<h2>Login</h2>
<form method="post">
    <div style="padding:10px;width:300px;">
        <label>Username:</label>
        <input type="text" name="Username" required />
    </div>
    <div style="padding:10px;width:300px;">
        <label>Password:</label>
        <input type="password" name="Password" required />
    </div>
    <button type="submit">Login</button>
</form>
