@page
@model DemoSecureWebApp.Pages.Calculators.IndexModel
@{
}

<form method="post">
    <div>Num 1: <input type="text" name="num1" /></div>
    <div>Num 2: <input type="text" name="num2" /></div>
    <div><input type="submit" class="btn btn-primary" value="Submit" /></div>
</form>